<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<a href="">acheter</a>
    <p><%= string %></p>
    <div  class="modale">
      <form name="mail" action="/achat" method='post'>

      <input name="mail" type="email" required >
      <button type="submit">acheter</button>
    </form>
    </div>
  </body>
</html>
